*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: rgb(228, 228, 228);
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
li{
    list-style: none;
}
.top{
    width:100vw;
}

.nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    font-size: 1.5rem;
    gap:3px;
    }
.dropdown {
    flex: 1;
    color: white;
    text-align: center;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    padding: 10px;
    min-width: 100%;
    font-size: medium;
    /* top: -20px; */
    opacity:0;
    /* transform: translateY(0px); */
    border-radius: 10px;
    color: black;
    background-color: transparent;
    z-index: 2;
}


.dropdown-content li a{ 
    color: black;
    
}


.background{
        position: absolute;
        width:100px;
        height: 100px;
        background-color: #aa5757;
        border-radius: 5px;
        transition: all 0.5s,opacity 0.1s ,translate 0.2s;
        display: flex;
        opacity:0;
        justify-content: center;
        transform-origin: 50% 0%;
    }
.background .arrow{
    position: absolute;
    width:10px;
    height: 10px;
    display: block;
    background: #ffffff;
    transform: translateY(-50%) rotate(45deg);
    
    
}
.active {
    display: block;
    opacity: 1;
    transition-delay: 1s;
    transition: all 0.5s;
    }

.open{
    opacity:1;
    }